apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  name: polaris
  namespace: argocd
spec:
  destination:
    namespace: polaris
    server: https://kubernetes.default.svc
  project: default
  sources:
  - chart: polaris
    helm:
      valueFiles:
      - $values/gitops/manifests/polaris/values.yaml
    repoURL: https://downloads.apache.org/incubator/polaris/helm-chart
    targetRevision: 1.2.0-incubating
  - directory:
      recurse: true
    path: gitops/manifests/polaris
    ref: values
    repoURL: git@github.com:bytetum/k8s-dataplatform-quickstart.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
