apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: flink-kubernetes-operator
  namespace: argocd
spec:
  destination:
    namespace: flink-kubernetes-operator
    server: https://kubernetes.default.svc
  project: default
  source:
    chart: flink-kubernetes-operator
    repoURL: https://archive.apache.org/dist/flink/flink-kubernetes-operator-1.13.0/
    targetRevision: 1.13.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
