apiVersion: v1
kind: Service
metadata:
  name: flink-jobmanager
  namespace: flink-kubernetes-operator
spec:
  ports:
  - name: rpc
    port: 6123
  - name: blob
    port: 6124
  - name: webui
    port: 8081
  selector:
    app: flink
    component: jobmanager
  type: ClusterIP
