replicas: 1
config:
  gracefulShutdownDuration: "30s"
  heartbeatEvery: "10s"
  agentKeySecretKeyRef:
    name: warpstream-agent-apikey
    key: agent_key
  bucketURL: "azblob://warpstream"
  virtualClusterID: "vci_6a0d7057_e98d_4c8d_8fd1_c8aff07c88cb"
  region: "us-east-1"

extraEnv:
  - name: AZURE_STORAGE_ACCOUNT_NAME
    valueFrom:
      secretKeyRef:
        name: warpstream-bucket-credentials
        key: AZURE_STORAGE_ACCOUNT_NAME
  - name: AZURE_TENANT_ID
    valueFrom:
      secretKeyRef:
        name: warpstream-bucket-credentials
        key: AZURE_TENANT_ID
  - name: AZURE_CLIENT_ID
    valueFrom:
      secretKeyRef:
        name: warpstream-bucket-credentials
        key: AZURE_CLIENT_ID

  - name: WARPSTREAM_TEST_MODE
    value: "true"

  - name: WARPSTREAM_IS_DEMO_OR_PLAYGROUND
    value: "True"
    

    
service:
  type: ClusterIP
  port: 9092

resources:
  requests:
    cpu: "200m"
    memory: "512Mi"
  limits:
    cpu: "500m"
    memory: "1Gi"

autoscaling:
  enabled: false
enforceProductionResourceRequirements: false
tls:
  enabled: false