apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: sql-runner-example
  namespace: flink-kubernetes-operator
spec:
  flinkConfiguration:
    execution.checkpointing.dir: s3://local-rocksdb-test/flink-apps/sql-runner-example/checkpoints
    execution.checkpointing.incremental: true
    execution.checkpointing.interval: 1min
    execution.checkpointing.savepoint-dir: s3://local-rocksdb-test/flink-apps/sql-runner-example/savepoints
    execution.checkpointing.storage: filesystem
    high-availability.storageDir: s3://local-rocksdb-test/flink-apps/sql-runner-example/ha
    high-availability.type: kubernetes
    jobmanager.archive.fs.dir: s3://local-rocksdb-test/flink-common/completed-jobs
    kafka.bootstrap.servers: warpstream-agent.default.svc.cluster.local:9092
    state.backend.rocksdb.localdir: /data/rocksdb
    state.backend.type: rocksdb
    taskmanager.numberOfTaskSlots: "1"
  flinkVersion: v1_20
  image: flink-test:1.20.2
  job:
    args:
    - /opt/flink/sql/script.sql
    jarURI: local:///opt/flink/usrlib/runner.jar
    parallelism: 1
    upgradeMode: last-state
  jobManager:
    resource:
      cpu: 0.5
      memory: 1024m
  podTemplate:
    spec:
      containers:
      - env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AWS_ACCESS_KEY_ID
              name: flink-bucket-credentials
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: AWS_SECRET_ACCESS_KEY
              name: flink-bucket-credentials
        imagePullPolicy: Never
        name: flink-main-container
        volumeMounts:
        - mountPath: /data/rocksdb
          name: rocksdb-local-dir
        - mountPath: /opt/flink/sql
          name: flink-sql
      initContainers:
      - command:
        - sh
        - -c
        - aws s3 cp s3://local-rocksdb-test/flink-sql-runner-script.sql /opt/flink/sql/script.sql
        env:
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              key: AWS_ACCESS_KEY_ID
              name: flink-bucket-credentials
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              key: AWS_SECRET_ACCESS_KEY
              name: flink-bucket-credentials
        image: amazon/aws-cli:latest
        name: init-get-jars
        volumeMounts:
        - mountPath: /opt/flink/sql
          name: flink-sql
      volumes:
      - emptyDir: {}
        name: rocksdb-local-dir
      - emptyDir: {}
        name: flink-sql
  serviceAccount: flink-sql-gateway-sa
  taskManager:
    resource:
      cpu: 0.5
      memory: 2048m
