mysql:
  enabled: true
  auth:
    rootPassword: openmetadata
    password: openmetadata
  primary:
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi

opensearch:
  enabled: true
  singleNode: true
  resources:
    requests:
      cpu: 250m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 1536Mi

airflow:
  enabled: true
  airflow:
    executor: LocalExecutor
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi
