marquez:
  port: 5000
  adminPort: 5001
  migrateOnStartup: true
  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

web:
  enabled: true
  port: 3000
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

postgresql:
  enabled: true
  auth:
    username: marquez
    password: marquez
    database: marquez
  primary:
    resources:
      requests:
        cpu: 250m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi
