apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  annotations:
    config-hash: 3cb747b288221b81
  labels:
    strimzi.io/cluster: m3-kafka-connect
  name: postgres-debezium-source
  namespace: kafka-connect
spec:
  class: io.debezium.connector.postgresql.PostgresConnector
  config:
    database.dbname: ${env:POSTGRES_DB}
    database.hostname: ${env:POSTGRES_HOST}
    database.password: ${env:POSTGRES_PASSWORD}
    database.port: ${env:POSTGRES_PORT}
    database.user: ${env:POSTGRES_USER}
    errors.deadletterqueue.context.headers.enable: true
    errors.deadletterqueue.producer.acks: all
    errors.deadletterqueue.producer.enable.idempotence: true
    errors.deadletterqueue.topic.name: debezium-errors
    errors.tolerance: all
    key.converter: org.apache.kafka.connect.json.JsonConverter
    key.converter.schemas.enable: true
    plugin.name: pgoutput
    publication.name: dbz_publication
    slot.name: debezium_test_slot
    snapshot.mode: always
    table.include.list: public.employees
    topic.prefix: postgres-cdc
    transforms: route,unwrap
    transforms.route.regex: postgres-cdc.public.employees
    transforms.route.replacement: bronze.postgres.employees
    transforms.route.type: org.apache.kafka.connect.transforms.RegexRouter
    transforms.unwrap.add.fields: timestamp
    transforms.unwrap.delete.handling.mode: rewrite
    transforms.unwrap.drop.tombstones: false
    transforms.unwrap.type: io.debezium.transforms.ExtractNewRecordState
    value.converter: org.apache.kafka.connect.json.JsonConverter
    value.converter.schemas.enable: true
  tasksMax: 1
