apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaConnector
metadata:
  annotations:
    config-hash: 0d87ef073276b606
  labels:
    strimzi.io/cluster: m3-kafka-connect
  name: iceberg-sink-debug-silver
  namespace: kafka-connect
spec:
  class: io.tabular.iceberg.connect.IcebergSinkConnector
  config:
    errors.log.enable: true
    errors.log.include.messages: true
    errors.retry.delay.max.ms: 60000
    errors.retry.timeout.ms: 300000
    errors.tolerance: none
    iceberg.catalog: iceberg
    iceberg.catalog.catalog-name: ao_catalog
    iceberg.catalog.credential: root:${env:POLARIS_PASSWORD}
    iceberg.catalog.oauth2-server-uri: http://polaris.polaris.svc.cluster.local:8181/api/catalog/v1/oauth/tokens
    iceberg.catalog.scope: PRINCIPAL_ROLE:ALL
    iceberg.catalog.type: rest
    iceberg.catalog.uri: http://polaris.polaris.svc.cluster.local:8181/api/catalog
    iceberg.catalog.warehouse: ao_catalog
    iceberg.control.commit.interval-ms: 10000
    iceberg.control.commit.threads: 2
    iceberg.control.commit.timeout-ms: 30000
    iceberg.control.group-id-prefix: m3-iceberg-debug-silver-control
    iceberg.control.topic: sink-control-iceberg-debug-silver
    iceberg.tables.auto-create-enabled: true
    iceberg.tables.default-id-columns: record_key
    iceberg.tables.dynamic-enabled: true
    iceberg.tables.evolve-schema-enabled: true
    iceberg.tables.route-field: iceberg_table
    iceberg.tables.schema-force-optional: true
    iceberg.tables.upsert-mode-enabled: true
    key.converter: io.confluent.connect.avro.AvroConverter
    key.converter.cache.size: 1000
    key.converter.cache.ttl.ms: 300000
    key.converter.schema.registry.basic.auth.credentials.source: USER_INFO
    key.converter.schema.registry.basic.auth.user.info: ${env:SCHEMA_REGISTRY_USERNAME}:${env:SCHEMA_REGISTRY_PASSWORD}
    key.converter.schema.registry.url: http://warpstream-schema-registry-warpstream-agent.warpstream.svc.cluster.local:9094
    key.converter.schemas.enable: true
    topics.regex: ^debug\.silver\..*
    value.converter: io.confluent.connect.avro.AvroConverter
    value.converter.cache.size: 1000
    value.converter.cache.ttl.ms: 300000
    value.converter.schema.registry.basic.auth.credentials.source: USER_INFO
    value.converter.schema.registry.basic.auth.user.info: ${env:SCHEMA_REGISTRY_USERNAME}:${env:SCHEMA_REGISTRY_PASSWORD}
    value.converter.schema.registry.url: http://warpstream-schema-registry-warpstream-agent.warpstream.svc.cluster.local:9094
    value.converter.schemas.enable: true
  tasksMax: 1
